.about{
    height: 200vh;
}

.container_1{
   margin-top: 8rem;
   margin-bottom: 5rem;
}

.container_2{
    width: 65%;
    margin: 0 auto;
    padding: 2rem;
    border:  0.5px solid #009fe2;
    border-radius: 50px 0 50px 0;
    margin-top: 2rem;
}

.about_header{
    color: #009fe2;
}

@media screen and (min-width : 340px) and (max-width: 414px) {
    .about{
        height: 280vh;
    }
    .container_2{
        width: 95%;
    }
}