
.buyFrome_container{
    height: 150vh;
    width: 80%;
    margin:  0 auto;
}

section{
    width: 100%;
}

.form_to_buy{
    width: 99%;
    margin: 0 auto;
}

.flex-wrap > .flex-col{
    flex: 1;
}