.costumer_section{
    width: 70%;
    margin: 0 auto;
    margin-top: 6rem;
    height: auto;
    overflow: hidden;
}

@media (max-width: 768px) {
    .costumer_section{
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .costumer_section{
        width: 90%;
        margin: 0 auto;
    }
}