footer{
    background-color: rgb(255, 242, 242);
}

button{
    background-color: blueviolet;
    color: white;
    transition: 0.5s ease;
}

button:hover{
    background-color: transparent;
    color: black;
    border: 1px solid blueviolet;
}

.notification{
    border: solid 1px gray;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 2rem;
}

.close-btn{
    border-radius: 10px;
    background-color: blueviolet;
}

.rapide{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(61, 61, 61);
}