header{
    background-image: url(../../public/header.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titre{
    color: #009fe2;
}