header{
    background-image: url(../../public/header.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titre{
    color: #009fe2;
}

.header-{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

@media screen and (min-width : 200px) and (max-width: 339px) {
    .header- > h1{
        font-size: 3rem;
    }
}

@media screen and (min-width : 340px) and (max-width: 414px) {
    .header- > h1{
        font-size: 3rem;
    }
}

@media screen and (min-width: 419px) and (max-width: 550px) {
    .header- > h1{
        font-size: 3rem;
    }
}