section > div > .quality:hover {
    border: 1px solid gray;
    transition: 0.5s ease;
}

@media screen and (min-width : 340px) and (max-width: 390px) {
    .qualiti{
        height: 110vh;
    }
}

@media screen and (min-width : 390px) and (max-width: 414px) {
    .qualiti{
        height: 70vh;
    }
}

@media screen and (min-width: 414px) and (max-width: 430px) {
    .qualiti{
        height: 60vh;
    }
}