.first{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    background-color: rgb(112, 112, 252);
    padding: 10px;
    border-radius: 20px;
    height: 450px;
}

.second{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    background-color: rgb(112, 112, 252);
    padding: 10px;
    border-radius: 20px;
    height: 450px;
}

.client{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_img{
    border-radius: 100%;
    width: 130px;
    height: 140px;
}

.second_img{
    border-radius: 100%;
    width: 130px;
    height: 140px;
}

.costumer_section{
    width: 30%;
    margin: 0 auto;
    margin-top: 6rem;
}

.client_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width : 380px) {
    .costumer_section{
        width: 90%;
    }
    .first{
        height: 600px;
    }
}

@media (max-width : 480px) {
    .costumer_section{
        width: 90%;
    }
    .first{
        height: 550px;
    }
}

@media (max-width : 830px) {
    .costumer_section{
        width: 70%;
    }
}

@media (max-width : 1050px) {
    .costumer_section{
        width: 70%;
    }
}