.view{
    border-color: rgb(79, 79, 203);
}

.view:hover{
    background-color: rgb(79, 79, 203);
    color: white;
    transition: 0.5s ease;
}

.product-container .button-container {
    display: flex;
    gap: 0.7rem;
    overflow: hidden;
}

.button-container a {
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.add-to-cart {
    background-color: #007bff;
    width: 100px;
    font-size: 0.5rem;
  }
  
  .add-to-cart:hover {
    background-color: #0056b3;
  }
  
  .buy-now {
    background-color: #16a337;
    width: 60px;
    font-size: 0.5rem;
  }
  
  .buy-now:hover {
    background-color: #218838;
  }

  .product-title{
    position: relative;
    z-index: 5;
  }

  .available{
    color: green;
  }

  .detail{
    transition: 0.5s ease;
  }
  .detail:hover{
    font-weight: 700;
    color: rgb(79, 79, 203);
  }